.main {
  max-width: 750px;
  margin: 0 auto;

  .wrapper {
  }
  .list-container {
    min-height: 120px;
    margin: 10px;
    padding: 4px 6px;
  }

  .round-button {
    width: 64px;
    height: 64px;
    border-radius: 50%;
  }

  .fixed-button {
    position: fixed;
    right: 15px;
    bottom: 15px;
  }
}
.text-editor {
  padding-top: 70px;
}
